<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
	<connectionStrings>
		<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=localhost:1521/xe; User id=gulfo;Password=Shoops0119"/>
	</connectionStrings>
</configuration>